<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead"><%= t "categories" %></p>
      <div class="list-group">
        <% @categories.each do |category| %>
          <%= link_to category.name, "#", class: "list-group-item" %>
        <% end %>
      </div>
      <%= render "shared/search_form" %>
    </div>
      <div class="col-md-9">
        <div class="row carousel-holder">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide"
                data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0"
                    class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag "a.jpg", class: "slide-image" %>
                  </div>
                  <div class="item">
                    <%= image_tag "b.jpg", class: "slide-image" %>
                  </div>
                  <div class="item">
                    <%= image_tag "c.jpg", class: "slide-image" %>
                  </div>
                </div>
                  <a class="left carousel-control" href="#carousel-example-generic"
                    data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic"
                    data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
            </div>
        </div>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-lg-4 col-md-4 product">
              <div class="thumbnail">
                <div class="image-product">
                  <%= link_to product_path(product) do %>
                    <%= image_tag product.picture %>
                  <% end %>
                </div>
                <div class="caption">
                  <h4 class="pull-right">
                    <%= product.price %> <%= t "dollar" %>
                  </h4>
                  <h4>
                    <%= link_to product_path(product) do %>
                      <%= product.name %>
                    <% end %>
                  </h4>
                  <p><%= product.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
