<div class="avatar-cmt-form">
  <%= image_tag current_user.avatar %>
</div>
<div class="form-cmt">
  <%= form_for @comment, remote: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div id="comment-form">
      <div id="comment-text">
        <%= f.text_area :content, class: "text_comment",
          placeholder: t("enter_comment") %>
        <% if current_page? edit_comment_path %>
          <%= f.hidden_field :product_id , value: comment.product_id %>
        <% else %>
          <%= f.hidden_field :product_id , value: product.id %>
        <% end %>
      </div>
      <span id="submit">
        <%= f.submit t("comment"), class: "btn btn-primary" %>
      </span>
      <div class="clr"></div>
    </div>
  <% end %>
</div>
<div class="clr"></div>
