<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:admin, @product], html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>

      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>

      <%= f.label :classify %>
      <%= f.select :classify,
        options_for_select([[t("food"),t("food")],[t("drink"),t("drink")]]) %><br />

      <%= f.label :category %>
      <% if current_page? new_admin_product_url %>
        <%= f.select :category_id,
          options_for_select(@categories.collect{|category| [category.name,
          category.id]}), class: "select-form" %><br>
      <% elsif @category.present? %>
        <%= f.select :category_id,
          options_for_select(@categories.collect{|category|
          [category.name, category.id]}, selected: @category.id),
          class: "select-form" %><br />
      <% else %>
        <%= f.select :category_id,
          options_for_select(@categories.collect{|category| [category.name,
          category.id]}), class: "select-form" %><br>
      <% end %>

      <%= f.label :picture %>
      <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>

      <% if current_page? new_admin_product_url %>
        <%= f.submit t("save"), class: "btn btn-primary" %>
      <% else %>
        <%= f.submit t("update"), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
