<div class="col-md-12">
  <%= link_to t("add_product"), new_admin_product_path, class: "btn btn-primary" %>
  <table>
    <tr>
      <th><%= t "name" %></th>
      <th><%= t "picture" %></th>
      <th><%= t "price" %></th>
      <th><%= t "classify" %></th>
      <th colspan="2"><%= t "action" %></th>
    </tr>
    <%= render partial: "shared/product", locals: {products: @products} %>
  </table>
  <%= paginate @products, theme: "twitter-bootstrap-3" %>
</div>
