<div class="show-image">
  <%= link_to product_path(@product) do %>
    <%= image_tag @product.picture %>
  <% end %>
</div>
<div class="product-right">
  <%= link_to product_path(@product) do %>
    <%= @product.name %>
  <% end %>
  <p><%= number_to_currency @product.price %></p>
  <%= @product.description %>
  <div>
    <%= form_tag carts_path, remote: true do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= number_field_tag :quantity_change, Settings.value_default,
        min: Settings.quantity_min, class: "quantity" %>
      <%= button_tag class: "btn btn-primary" do %>
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <%= t "add_to_cart" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="clr"></div>
<%= social_share_button_tag(@product.name) %>
<div class="rating">
  <h2><%= t "rating" %></h2>
  <%= rating_for @product, t("rate"), star: Settings.star, enable_half: true %>
</div>
<div class="comment">
  <%= render partial: "shared/comment", locals: {product: @product} %>
</div>
