<div class="show-image">
  <%= link_to product_path(@product) do %>
    <%= image_tag @product.picture %>
  <% end %>
</div>
<div class="product-right">
  <%= link_to product_path(@product) do %>
    <%= @product.name %>
  <% end %>
<p><%= @product.price %> <%= t "dollar" %></p>
<%= @product.description %>
</div>
<div class="clr"></div>
<%= social_share_button_tag(@product.name) %>
<div class="rating">
  <h2><%= t "rating" %></h2>
  <%= rating_for @product, t("rate"), star: Settings.star, enable_half: true %>
</div>
